*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.App-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #272727;
}